<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
          class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid">
          <a class="navbar-brand font-weight-bolder ms-sm-3"
             href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
            MusMate
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between pe-none align-items-center"
                   id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                  Posts
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                </a>
                <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3"
                     aria-labelledby="dropdownMenuPages">
                  <div class="d-none d-lg-block">

                    <a href="{% url 'forum:post-list' %}" class="dropdown-item border-radius-md">
                      All Posts
                    </a>
                    <a href="{% url 'forum:post-my' %}" class="dropdown-item border-radius-md">
                      My Posts
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between pe-none align-items-center"
                   id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                  Playlists
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                </a>
                <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3"
                     aria-labelledby="dropdownMenuPages">
                  <div class="d-none d-lg-block">

                    <a href="/page-about-us.html" class="dropdown-item border-radius-md">
                      All Playlists
                    </a>
                    <a href="/page-contact-us.html" class="dropdown-item border-radius-md">
                      My Playlists
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link ps-2 d-flex justify-content-between align-items-center"
                    aria-expanded="false" href="{% url 'forum:song-my' %}">
                  Songs&nbsp;&nbsp;
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link ps-2 d-flex justify-content-between align-items-center"
                    aria-expanded="false" href="{% url 'forum:post-list' %}">
                  Profile
                </a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="{% url 'logout' %}">
                  <i class="fa fa-sign-out me-1"></i>
                  <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                     data-bs-placement="bottom" title="Log Out">Log Out</p>
                </a>
              </li>
              {% else %}
                <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="{% url 'login' %}">
                  <i class="fa fa-sign-out me-1"></i>
                  <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                     data-bs-placement="bottom" title="Log In">Log In</p>
                </a>
              </li>
              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>