{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}

{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}

  <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="row">
          <div class="col-lg-3">
            <div class="h-2">
              <br>
              <br>
              <h3 class="text-gradient text-primary">My Songs</h3>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="h-2">
              <br><br>
              <a href="{% url 'forum:song-create' %}">
                <input class="btn btn-primary bg-gradient-primary" type="submit" value="Add song">
              </a>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="mb-4">
              <br>
              <br>
              <form method="get" action="">
                <div class="row">
                  <div class="col-10">{{ search_form|crispy }}</div>
                  <div class="col-2"><input class="btn btn-primary" type="submit" value="Go"></div>
                </div>
              </form>
            </div>
          </div>
        </div>

        {% if song_list %}
          {% for song in song_list %}

            <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-4">
              <div class="container border-bottom">
                <div class="row justify-space-between py-2">
                  <div class="col-lg-6 me-auto mt-2">
                    <h4 class="text-dark pt-1 mb-0">
                      {{ song.title }} - {{ song.artist }}
                    </h4>
                  </div>
                  <div class="col-lg-6 mt-2 text-end">
                    <a href="{% url 'forum:song-update' pk=song.id %}">
                      <input class="btn btn-info" type="submit" value="Edit">
                    </a>&nbsp&nbsp&nbsp
                    <a href="{% url 'forum:song-delete' pk=song.id %}">
                      <input class="btn btn-danger" type="submit" value="Delete">
                    </a>
                  </div>
                </div>
              </div>

            </div>

          {% endfor %}

        {% else %}

          <h6 class="text-secondary">No songs found.</h6>

        {% endif %}
      </div>
    </div>
  </div>
  <!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/plugins/countup.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/rellax.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/tilt.min.js"></script>
  <script src="{{ ASSETS_ROOT }}/js/plugins/choices.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
  <script type="text/javascript">
      if (document.getElementById('state1')) {
          const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
          if (!countUp.error) {
              countUp.start();
          } else {
              console.error(countUp.error);
          }
      }
      if (document.getElementById('state2')) {
          const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
          if (!countUp1.error) {
              countUp1.start();
          } else {
              console.error(countUp1.error);
          }
      }
      if (document.getElementById('state3')) {
          const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
          if (!countUp2.error) {
              countUp2.start();
          } else {
              console.error(countUp2.error);
          }
          ;
      }
  </script>

{% endblock javascripts %}
